# Python bytecode
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
.venv/
venv/
ENV/
env/

# uv
.uv/

# IDE
.idea/
.vscode/

# Distribution / packaging
dist/
build/
*.egg-info/

# Testing
.pytest_cache/

# OS
.DS_Store
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints/

# mypy
.mypy_cache/
/logs/
